* {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
}

#root {
  height: 100%;
}

.siteLayout {
  .layoutContent {
    position: relative;
    min-height: 360px;
  }
}

.page404,
.page403,
.page500 {
  width: 100%;
}

:global {
  .ant-modal-confirm-body > .anticon {
    svg {
      width: 22px;
      height: 22px;
    }
  }

  .ant-back-top-icon {
    span {
      display: inline;

      svg {
        height: 60%;
        width: 60%;
      }
    }
  }

  .ant-back-top {
    right: 50px;
  }
}
